.asd_uy_dftx {
    background: #00AC92;
    padding-top: 15px;
    height: 60px;
    z-index: 1000
}

.mui-content { 
   padding-top: 60px !important;
      *margin-top: 0px !important;
}

.sdeertx_er {
    margin-top: 5px;
    line-height: 1.1;
    text-align: center
}

.mui-input-group:before,
.mui-input-group .mui-input-row:after,
.mui-input-group:after,
.mui-table-view:before,
.mui-table-view-cell:after,
.mui-table-view:after {
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #eaeaea;
}

.wang_eert {
    position: absolute;
    right: 10px;
    height: 100%;
    line-height: 40px;
    top: 1px;
    font-size: 14px;
    z-index: 100px;
    background: #fff;
}

input.w100 {
    width: 100% !important
}

.mui-popup-button {
    color: #00AC92;
    font-weight: 100 !important;
    font-size: 16px;
}

.mui-popup-button:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #eaeaea
}

.index_top {
    background: #2ABE9C;
}

.jinri_er {
    background: #00AC92
}

.jinri_er p {
    color: #BFEEE9;
    border-right: 1px solid #BFEEE9;
}

.jinri_er p:last-child {
    border: 0px;
}

.sd_hgh_dert {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    background: #7BBCD8;
    border-radius: 50%;
}

.sd_hgh_dert.ab {
    background: #42C3A5;
}

.s_jiedan_ere {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 60px;
    text-align: center;
}

.s_jiedan_ere p.jd {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #2ABE9C;
    color: #fff;
    line-height: 80px;
    font-size: 24px;
    margin: auto;
}

.df_jh_deert {
    font-size: 12px;
    background: #fff;
    border-top: 0px;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, .0);
    box-shadow: 0 0 0px rgba(0, 0, 0, .0);
}

.df_jh_deert a p {
    height: 24px;
    line-height: 24px;
    position: relative;
    top: 2px;
}

.df_jh_deert a span {
    display: block;
    position: relative;
    top: 2px;
}

.mui-bar-tab .mui-tab-item.mui-active p,
.mui-bar-tab .mui-tab-item.mui-active {
    color: #00AC92
}

.df_jHJ_der {
    width: 100px;
}

.sd_jhj_eert {
    height: 42px !important;
    border: 0px !important;
    text-indent: 0px;
    border-radius: 0px !important;
}

.dfown_icon {
    position: absolute;
    right: 10px;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
    border: 1px solid #00AC92;
    background-color: #00AC92;
}

.ds_y_taberet td {
    line-height: 40px;
}

.user_icon {
    width: 80px;
    height: 80px;
}

.dsf_jh_ddff {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #B3D87B
}

.dsf_jh_ddff i {
    position: relative;
    bottom: 2px;
}

.dsf_jh_ddff.ab {
    background: #88D5CF
}

.dsf_jh_ddff.ac {
    background: #3EC3A4
}

.dsf_jh_ddff.ad {
    background: #7BBCD8
}

.dsf_jh_ddff.ae {
    background: #D89D7B
}

.dsf_jh_ddff.af {
    background: #D97B93
}

.dsf_jh_ddff.ag {
    background: #D9BE7B
}

.dsf_jh_ddff.aj {
    background: #BB91D3
}

.dsf_jh_ddff.ah {
    background: #7BAAD8
}

.jindu_deret {
    position: absolute;
    right: 10px;
    top: 17px;
}

.iy_yhg_dert {
    width: 95px;
}

.dfg_hg_er {
    line-height: 1.5
}

.df_hh_dre_erttx {
    border-bottom: 1px dashed #B7B9B9;
}

.dsf_jh_er_rt {
    background: #DFDFDF;
    line-height: 40px;
}

.sd_jh_dert {
    display: none
}

.dff_hh_derertt.act .icon-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.dff_hh_derertt.act .dsf_jh_er_rt.z6 {
    color: #00AC92 !important
}

.dff_hh_derertt.act .sd_jh_dert {
    display: block;
}

.sd_jh_derterter {
    border-top: 2px solid #000;
    padding-left: 8px;
    padding-right: 8px;
}

.sd_jh_derterter span {
    background: #fff;
    position: relative;
    bottom: 10px;
    font-size: 16px;
}

.los_err {
    width: 70px;
    height: 70px;
}

.dsf_jh_eertx {
    background: #C9E4F5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.dsf_jh_eertx p.b {
    color: #003479
}

.dsf_jh_eertx p {
    color: #4490CD
}

.sd_hg_deert {
    background: #6CBEF0;
    color: #fff;
    padding: 2px 6px 3px 6px;
    ;
    border-radius: 4px;
    ;
}

.dfs_jh_feert {
    position: absolute;
    right: 0px;
    font-size: 70px;
    top: 35px;
}

.dsf_jh_eertx.ab {
    background: #F2D2BD
}

.dsf_jh_eertx.ab p.b {
    color: #BE5805
}

.dsf_jh_eertx.ab p {
    color: #F1A25D
}

.dsf_jh_eertx.ab p span {
    background: #F1A25D;
}

.dsf_jh_eertx.ac {
    background: #F4B6C1
}

.dsf_jh_eertx.ac p.b {
    color: #7F0000
}

.dsf_jh_eertx.ac p {
    color: #F16D7B
}

.dsf_jh_eertx.ac p span {
    background: #F16D7B
}

.dsf_jh_eertx.ad {
    background: #CBE59B
}

.dsf_jh_eertx.ad p.b {
    color: #366800
}

.dsf_jh_eertx.ad p {
    color: #9CC64C
}

.dsf_jh_eertx.ad p span {
    background: #9CC64C
}

.sd_kjhj_der {
    background: #E9E6F1;
    padding: 10px;
}

.sd_hg_deert.ab {
    background: #B7A3DE;
    color: #fff;
}

.dsf_derttxc {
    font-size: 50px;
}

.sd_jh_ceert {
    width: 40px;
}

.sjemh_weert {
    width: 100px;
}

.dsf_jh_dfeert {
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 20px;
}

.zhuy_eerr {
    background: #DFDFDF;
    line-height: 40px;
    font-size: 16px;
    color: #333
}

.dsf_jh_der_r {
    height: 100px;
    background: #fff;
    line-height: 100px;
}

.dsf_jh_der_r img {
    width: 100%;
    height: 100%;
}

.dsf_hj_deert {
    font-size: 100px;
    color: #e0e0e0
}

.sd_jh_ceertx {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
}

.sdf_df_rrtt td {
    line-height: 40px;
    font-size: 16px;
}

.sdf_df_rrtt tbody tr {
    border-bottom: 1px solid #e0e0e0
}

.dsf_jh_de {
    margin-bottom: 0px !important;
    text-indent: 0px;
    font-size: 16px;
}

.mui-input-row input.w100 {
    text-indent: 0px;
    padding-left: 10px;
}

.sd_jhj_drert {
    position: relative;
    bottom: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dsf_dsf_dffdg.act input,
.dsf_dsf_dffdg.act .mui-input-row {
    pointer-events: none
}

.sd_jh_deet {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
}

.fs_juh_eertx {
    line-height: 40px;
}

.fs_juh_eertx tr {
    border-top: 1px solid #e0e0e0
}

.fs_juh_eertx tr td.tl {
    padding-left: 10px;
}

.fs_juh_eertx tr td {
    font-size: 16px;
}

.df_d_dfgxc {
    width: 50px;
    height: 50px;
    min-height: 50px;
}

.dfs_d_dfgx,
.dsf_jh_dertt {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    left: 0px;
    z-index: 1000;
}

.dfs_d_dfgx .mui-control-item {
    background: #71CD9E;
    color: #fff !important
}

.dfs_d_dfgx .mui-control-item.mui-active {
    background: #00AC92 !important;
    border-bottom: 0px !important;
    ;
}

.mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #ccc;
    box-shadow: 0 0px 0px #ccc;
}

.asd_uy_dftx.ab {
    background: #fff;
}

.asd_uy_dftx.ab .cf {
    color: #000 !important
}

.numy_sd_rer {
    background: #FE0000;
    position: absolute;
    right: -15px;
    top: -6px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.sd_dre_w_deer {
    width: 75px;
    height: 75px;
}

.dsf_jH_deet {
    border-bottom: 1px solid #e0e0e0;
    line-height: 28px;
}

.dsf_jh_deert {
    background: #F7F7F7;
    line-height: 35px;
}

.dsf_herj_deert img {
    max-height: 100%;
    max-width: 100%;
}

.sddf_sd_sd {
    height: 45px;
    line-height: 42px;
    padding: 0px;
    background: #4CDB62;
    color: #fff;
    border: 1px solid #4CDB62;
    ;
    font-size: 16px;
}

.sddf_sd_sd.ab {
    background: #F63B3B;
    border: 1px solid #F63B3B
}

.ls_er {
    color: #009ef6
}

.huif_uyh_e {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    height: 80px;
    border: 1px solid #e0e0e0;
}

.down_eererrt {
    position: absolute;
    right: 10px;
    top: 13px;
}

.sd_hjg_drrrt {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    line-height: 20px;
    color: #fff;
    padding: 0px;
    margin: auto0
}

.sd_jh_deert img {
    width: 40px;
}

.hg_hgsd_der {
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #FE0000;
    position: absolute;
    color: #fff;
    right: -5px;
    top: -36px;
}

.dsf_jh_dertt {
    line-height: 45px;
    background: #F0EFF4;
    border-bottom: 1px solid #D6D6D8;
}

.dsf_jh_dertt .mui-col-xs-3.act,.dsf_jh_dertt .mui-col-xs-3.mui-active  {
    color: #00AC92;
    border-bottom: 2px solid #00AC92;
}

.hg_hgsd_der.ab {
    top: -6px;
    right: -15px;
    border-radius: 50%;
}

.df_Kj_deert {
    width: 85px;
    height: 85px;
    min-height: 85px;
}

.sd_jh_erdeert {
    padding-top: 2px;
    padding-bottom: 2px;
}

.sd_jh_erdeert.ab {
    background: #BCC0C3;
    border: 1px solid #BCC0C3;
}

.dsf_jh_deerttx {
    line-height: 1.3;
}

.df_jh_deertt {
    white-space: normal !important
}

.sd_jh_wedeert {
    width: 30px;
}

.dsf_jerh_deert img {
    height: 110px;
    margin-top: 10px;
}

.sd_jh_derett {
    background: #CFCFCF;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

.sd_jh_derett.ab {
    padding: 2px 8px;
    ;
}

.wenhao_eeret {
    width: 20px;
    float: right;
    margin-top: 2px;
}

.sd_jh_isdr {
    width: 40px;
    height: 40px;
}

.fg_hj_deert {
    position: absolute;
    right: 0px;
    top: 8px;
}

.mui-switch.mui-active {
    border-color: #00AC92;
    background-color: #00AC92;
}

.dfd_jh_deeret {
    background: #E5F1ED;
}

.df_hj_deert {
    background: #F5F7F6
}

.sd_hjh_deert {
    width: 100px;
    position: absolute;
    left: -10px;
    display: none;
    top: -10px;
                -webkit-animation: rotation 1s linear infinite;
                        animation: rotation 1s linear infinite;
}



@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
.df_rth_err{
    position: relative;
    bottom: 13px;
    display: none
}

.sd_jh_de_er{
    width: 54px;
    height: 54px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    border-radius: 50%;
    line-height: 54px;
    font-size: 16px;
    text-align: center;
    display: none
}
.s_jiedan_ere.act .sd_jh_de_er,.s_jiedan_ere.act .sd_hjh_deert,.s_jiedan_ere.act .df_rth_err{
    display: block;
}
.sd_ertjh_dert{
    width: 300px;
    height: 210px;
    position: fixed;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none
}
.df_jh_der{
    width: 43px;
    height: 43px;
    line-height: 43px;
}


.dsf_jh_dertd{
    line-height: 40px;
    border-bottom: 1;
    
border-bottom: 1px dashed #e0e0e0; 
}

.sd_jh_left{
    width: 28px;
    height: 28px;
}

.sd_jh_dertse{
    display:block;
    width: 100px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fff
}
.sd_jh_dertse.act{
    border: 1px solid #00AC92;
    color: #00AC92;
}
.dsf_jh_derrt{
    margin-top: 12px;
}

.df_jh_deert{
    line-height: 1.6
}

.dsf_jerh_dert{
    width: 220px;
}


.dsf_jerh_dert input{
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 16px;
}
.df_jher_deert{
    position: absolute;
    right: 10px;
    top: 5px;
}


.msd_jh_drt{
    height: 40px;
    background: #FE0000;
    color: #fff;
    line-height: 40px;
    border: 1px solid #FE0000;
    padding: 0px 15px;
    
}
.msd_jh_drt.ab{
    background:#E6A72C;
    border: 1px solid #E6A72C;
}
.df_jh_eert img{
    width: 210px;
}
.dsf_jh_deret{
    border: 1px dashed #e0e0e0; 
}


.dsfer_ertt{
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.hong_sd_e{
    position: absolute;
     right: 32%;
    top: 0px;
    background: red;
    width: 10px;
    height: 10px;
}
.sd_jher_der{
    border: 1px solid #e0e0e0;
    padding: 5px 8px;
}

.sd_jher_der.act{
    color: #00AC92;
    border: 1px solid #00AC92;
}
.dder_xcde_er .mui-icon-clear{
	right: 90px !important;
}
.dsf_hjh_deert{
	line-height: 40px;
}
.fg_jhh_derer{
	position: relative!important;
	top: 2px !important;
}
