<!--修改密码-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<section id="seek_apper">
			<header class="mui-bar mui-bar-nav asd_uy_dftx">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left cf"></a>
				<h1 class="mui-title cf">修改密码</h1>
			</header>
			<div class="mui-content ">
				<form class="mui-input-group mt20">
					<div class="mui-input-row">
						<input type="password" class="mui-input-clear w100" placeholder="输入旧密码" v-model="jiu_ssf">
					</div>

				</form>

				<form class="mui-input-group mt20">
					<div class="mui-input-row">
						<input type="password" class="mui-input-clear w100" placeholder="输入新密码" v-model="sd_sf_a">
					</div>
					<div class="mui-input-row">

						<input type="password" class="mui-input-clear w100" placeholder="确认密码" v-model="sd_sf_b">
					</div>
				</form>

				<p class="mt30 pt10 pm10 bgff ls cen fz16" @click="baocun_df">
					保存
				</p>

			</div>

		</section>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/base.js"></script>
		<script>
			new Vue({
				el: '#seek_apper',
				data: {
					jiu_ssf: "", //旧密码
					sd_sf_a: "", //新密码
					sd_sf_b: "" //确认新密码
				},
				methods: {
					baocun_df: function() { //保存按钮触发
						if(!this.jiu_ssf) {
							mui.toast("请输入旧密码");
							return
						}
						if(!this.sd_sf_a) {
							mui.toast("请输入新密码");
							return
						}
						if(!this.sd_sf_b) {
							mui.toast("请确认新密码");
							return
						}
						if(this.sd_sf_a != this.sd_sf_b) {
							mui.toast("两次输入的密码不一致");
							return
						}
						var doModifyPwd = {}
						doModifyPwd.key = localStorage.token
						doModifyPwd.oldPassword = this.jiu_ssf
						doModifyPwd.newPassword = this.sd_sf_a
						m_ajax('/api/buyer/doModifyPwd', doModifyPwd, function() {
							mui.back()
						})
					}
				},
				mounted: function() {

				}
			})
		</script>
	</body>

</html>