<!--操作任务-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>操作任务</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<section id="seek_apper">

			<header class="mui-bar mui-bar-nav asd_uy_dftx">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left cf"></a>
				<h1 class="mui-title cf">垫付赚金</h1>

			</header>
			<div class="mui-content ">
				<section class="bgff">
					<p class="pd pt10 pm10 z3 fz16">
						{{sd.storeName}}
					</p>
					<section class="pd pt5 pm5 btm">
						<img src="img/sji_e.png" class="sd_jh_wedeert cz">
						<span class="fz16 z6 ml5">目标商品</span>
						<span class="fz14 fr mt5">
                    如遇到问题，请先<span class="ls">联系店家</span>
						</span>
					</section>
				</section>

				<ul class="mui-table-view mt0">
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left df_Kj_deert " :src="goodsInfo.goodsImage">
							<div class="mui-media-body df_jh_deertt">

								<p class="z3 fz16">
									商品成交价格:<span class="ls">￥{{goodsInfo.goodsPrice}}</span>
								</p>
								<p class="mt5 fz16 z3">
									件数: <span class="ls">{{goodsInfo.goodsNum}}</span>
								</p>
								<p class="mt5 fz16 z3">
									搜索展示价格: <span class="z3">{{goodsInfo.goodsPrice}}</span>
								</p>
							</div>
						</a>
					</li>
				</ul>

			</div>

			<p class="pd pt5 pm5   z6">
				<i class="dx icon-msnui-protect fz18 cz"></i> <span class="cz">任务要点</span>
			</p>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell fz16">
					任务类型 <span class="red fz14 fr">{{taskInfo.typeText}}</span>
				</li>
				<li class="mui-table-view-cell fz16">
					搜索关键字 <span class="ls fr">{{taskInfo.searchKeyword}}</span>
					<p class="qc tr mt10">
						<a class="mui-btn mui-btn-yellow" @tap="dakaitb">打开淘宝App</a>
					</p>
				</li>
				<li class="mui-table-view-cell fz16">
					排序方式 <span class="ls fr">{{taskInfo.positionTypeText}}</span>
				</li>
				<li class="mui-table-view-cell fz16">
					排序位置 <span class="ls fr">{{taskInfo.priceRange}}</span>
				</li>

				<li class="mui-table-view-cell fz16">
					价格区间 <span class="ls fr">{{taskInfo.priceRange}}</span>
				</li>

				<li class="mui-table-view-cell fz16">
					所在地 <span class="ls fr">{{taskInfo.goodsAddress}}</span>
				</li>
				<li class="mui-table-view-cell fz16">
					件数 <span class="ls fr">{{taskInfo.goodsNum}}</span>
				</li>
				<li class="mui-table-view-cell fz16">
					规格尺码 <span class="ls fr">{{taskInfo.imgSize}}</span>

				</li>
				<li class="mui-table-view-cell fz16">
					订单留言 <span class="ls fr">{{taskInfo.massage}}</span>
				</li>

				<li class="mui-table-view-cell fz16">
					评价要求 <span class="ls fr">{{taskInfo.commentTypeText}}</span>
				</li>

			</ul>

			<p class="pd pt5 pm5   z6">
				<i class="dx icon-caifang-yaoqiu fz18 cz"></i> <span class="cz">商家额外要求</span>
			</p>
			<section class="pd pt10 pm10 bgff ls_er">
				{{sd.remark}}
			</section>
			<p class="pd pt5 pm5   z6">
				<i class="dx icon-zhuyi-yin fz20 cz"></i> <span class="cz">注意事项</span>
			</p>

			<section class="bgff pd pt10 pm10 fz14 df_jh_deert">
				·测评符中接手任务的买号和淘宝实际下单的买号必须相同<br> ·要求至少和商家客服有4个问题的互动,不得一次性 复制4个问题给客服,如果客服不在线,等待时间超过 10分钟可直接下单
				<br> ·严禁和卖家和商家客服聊天提“刷单”“信誉”“测 评符”等敏感词
				<br> ·实际下单地址和测评符绑定地址必须一致 付款不允许使用信用卡、余额宝分期、花呗等任务信 用支付和淘金币、天猫积分、集分宝、天猫点券等积分 抵扣,否则将从本金中扣除购物金额的1%手续费或积 分对应的金额
				<br> 一定要等到快递真实签收后才能确认收货并好评

			</section>

			<!--垫付任务类型一：关键字-->
			<gjz :keyanswer="sd.keyAnswer" :wangwang="sd.accountName" :orderId="orderId" v-if="sd_dddf==1"></gjz>
			<!--垫付任务类型二：截图-->
			<renwu :wangwang="sd.accountName" :orderId="orderId" v-if="sd_dddf==2"></renwu>

			<!--浏览任务类型一：关键字-->
			<llrw_gj :wangwang="sd.accountName" :orderId="orderId" v-if="sd_dddf==3" :keyanswer="sd.keyAnswer"></llrw_gj>

			<!--浏览任务类型二：截图-->
			<llrw_jt :wangwang="sd.accountName" :orderId="orderId" v-if="sd_dddf==4"></llrw_jt>

		</section>

		<script src="js/mui.min.js"></script>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/base.js"></script>
		<script src="js/zujian/gjz.js"></script>
		<script src="js/zujian/czrw.js"></script>
		<script src="js/zujian/llrw_gj.js"></script>
		<script src="js/zujian/llrw_jt.js"></script>
		<script>
			new Vue({
				el: '#seek_apper',
				data: {
					sd: "",
					goodsInfo: "",
					taskInfo: "",
					orderId: "",
					sd_dddf: 1
				},
				methods: {
					dakaitb: function() { //打开淘宝
						location.href = "taobao://";
					},

				},
				mounted: function() {

					var th = this,
						getTaskDetailsPage = {}
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						getTaskDetailsPage.key = localStorage.token
						//						getTaskDetailsPage.orderId = 6667
					getTaskDetailsPage.orderId = self.id_pe

						th.orderId = getTaskDetailsPage.orderId

						m_ajax("/api/order/getTaskDetail", getTaskDetailsPage, function(data) {
							th.sd = data
							th.goodsInfo = data.goodsInfo
							th.taskInfo = data.taskInfo
							if(data.taskType == 1 && data.doMode == 1) { //taskType=1，doModel=1，垫付，关键字页面
								th.sd_dddf = 1

							}
							if(data.taskType == 1 && data.doMode == 2) { //taskType=1，doModel=2，垫付，截图页面

								th.sd_dddf = 2

							}
							if(data.taskType == 2 && data.doMode == 1) { //taskType=2，doModel=1，浏览，关键字页面

								th.sd_dddf = 3

							}
							if(data.taskType == 2 && data.doMode == 2) { //taskType=2，doModel=2，浏览，截图页面
								th.sd_dddf = 4

							}

						})

					})

				}
			})
		</script>
	</body>

</html>